*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #02103a;
    color: #ffffff;
    padding: 20px;
}

.titulo{
    color: #ff8c00;
    text-align: center;
}

h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

div{
    background-color: #052483;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #ffffff;
    box-shadow: #17b2d159 0px 5px 15px;
}

label{
    margin-bottom: -15px;
    text-align: left;
    width: 100%;
    padding: 5px;
}

input{
    width: 100%;
    border-radius: 999px;
    border: none;
    padding: 5px;
}

button{
    width: 105.5%;
    border-radius: 999px;
    padding: 5px;
    border: none;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    transition: all 200ms linear;
}

button:hover{
    cursor: pointer;
    color: #02103a;
    background-color: #ffffff;
}

p{
    font-weight: 700;
    font-size: 30px;
}